body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

table{
    width: 850px;
    margin: auto;
    border-collapse: collapse; /*Evite les dédoublements de lignes*/
}

th{
    background-color: #2980b9;
    padding: 12px;
    color: #fff;
    border: 1px solid #2980b9 ;
}

td{
    text-align: center;
    padding: 12px;
    border: 1px solid #2980b9 ;
}

caption{
    color:#2980b9 ;
    padding-bottom:4px;
    font-weight: bold;

}
/*
@media screen*
*/
@media screen and (max-width: 850px) {
    body{
        font-size: 12px;
    }
    
    table{
        width: 80%;
    }

    .cacher{
        display: none;
    }

    
}